[submodule "frontend"]
	path = frontend
	url = https://github.com/mindsdb/cowork
	ignore = all
[submodule "backend/core_api"]
	path = backend/core_api
	url = https://github.com/mindsdb/cowork-server
	ignore = all
[submodule "backend/core_agent"]
	path = backend/core_agent
	url = https://github.com/mindsdb/anton
	ignore = all
[submodule "backend/data-vault"]
	path = backend/data-vault
	url = https://github.com/mindsdb/data-vault
	ignore = all
